*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

:root{
    font-size: 62.5%;
    --background: #FFFBFC;
    --text: #020C12;
    --guitar-color: #591F0A;
    --book-color: #EFA00B;
    --gamepad-color: #0075C4;
}

[data-theme="dark"]{
    --background: #020C12;
    --text: #FFFBFC;
    --guitar-color: #F19D7E;
    --book-color: #F9D28B;
    --gamepad-color: #99D6FF;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    background: var(--background);
    color: var(--text);
}

.container{
    width: 900px;
    height: 70%;
    box-shadow: 0 0 30px 2px rgba(4, 21, 31, 0.9);
}

/* Foto/nome */

.foto-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto 20px;
}

.foto-container img{
    width: 150px;
    border-radius: 50%;
}

.name{
    margin: 10px 0px;
    font-size: 3rem;
}

/* Botão para trocar tema */

#trocar-tema{
    padding: 3px 20px;
    border-radius: 10px;
    background: var(--text);
    color: var(--background);
    border: none;

    cursor: pointer;
}

/* Configurações de todas as seções, títulos e linhas horizontais */

.section{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sec-container{
    flex-basis: 33%;
    text-align: center;
    padding: 5px 3px;
    margin: 10px 0px 15px;
}

h2{
    text-align: center;
    margin: 20px 0px 5px;
    font-size: 2rem;
}

hr{
    width: 80%;
    margin-bottom: 10px;
}

p{
    font-size: 1.2rem;
    text-align: justify;
}

a:visited{
    color: initial;
}

/* Estudos */

.estudos-container{
    width: 92%;
    margin: 5px 0px 15px;
} 

.svg-fiap, .svg-iv2{
    margin-right: 2%;
    float: left;
    display: flex;
}

.svg-fiap{
   /*  width: 180px;     */
    width: 25%;
    margin-top: 40px;
    transition: .8s;
}
.svg-iv2{
    /* width: 90px; */
    width: 12.5%;
    margin: 20px 45px;
}

.text-container{
    float: right;
    width: 70%;
}

.estudos-container h3{
    text-align: left;
    font-size: 1.6rem;
}

/* Entretenimentos */

.fa-guitar, .fa-gamepad, .fa-book{
    font-size: 3rem;
}

.fa-guitar{
    color: var(--guitar-color);
}

.fa-gamepad{
    color: var(--gamepad-color);
}

.fa-book{
    color: var(--book-color);
}

.sec-container h4{
    font-size: 1.6rem;
    padding: 5px 0px;
}

.sec-container p{
    text-align: center;
}

/* Conheça um pouco mais */

.know-section hr{
    margin: 0px auto 10px;
}

.know-section p{
    text-align: center;
    margin-bottom: 15px;
}

.links-container{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto 40px;
}

.links-container i{
    font-size: 3rem;
    transition: .5s;
    color: var(--text);
}

.links-container i:hover{
    transform: scale(1.2);
}